<div class="container">
    <div id="head">
        <div class="images">
            <img src="../assets/images/header-left.png" alt="">
            <img src="../assets/images/header-right.png" alt="">
        </div>
        <div class="title">
            <h1>重庆电商仓配托管中心</h1>
        </div>
    </div>
    <div id="body">
        <div class="bodyLeft">
            <div class="card">
                <div class="cardHead">
                    <h5>订单阶段分析图</h5>
                </div>
                <div class="cardBody">
                    <app-bar-cart [countArray]="countArray" [multiple]="multiple"></app-bar-cart>
                </div>
            </div>
            <div class="card">
                <div class="cardHead">
                    <h5>订单发运占比</h5>
                </div>
                <div class="cardBody">
                    <app-area-list [send]="stateArray[0]" [poll]="stateArray[1]+stateArray[2]"></app-area-list>
                </div>
            </div>
        </div>
        <div class="bodyMid">
            <div class="mapHead">
                <div class="mapHeadLabel mapHeadLabelType">
                    <p class="title">今日订单总量(总)</p>
                    <p countUp [startVal]="1" [endVal]="orderTotal" [reanimateOnClick]="true" [duration]='4' class="number">0</p>
                </div>
                <div class="mapHeadLabel mapHeadLabelType">
                    <p class="title">今日订单(已生产)</p>
                    <p countUp [startVal]="1" [endVal]="stateArray[0]" [reanimateOnClick]="true" [duration]='3' class="number">0</p>
                </div>
                <div class="mapHeadLabel mapHeadLabelType">
                    <p class="title">今日订单(待生产)</p>
                    <p countUp [startVal]="1" [endVal]="stateArray[1]" [reanimateOnClick]="true" [duration]='3' class="number">0</p>
                </div>
                <div class="mapHeadLabel mapHeadLabelType">
                    <p class="title">今日订单(订单池)</p>
                    <p countUp [startVal]="1" [endVal]="stateArray[2]" [reanimateOnClick]="true" [duration]='3' class="number">0</p>
                </div>
            </div>
            <div class="map ">
                <app-line-chart [multiple]="multiple"></app-line-chart>
            </div>
        </div>
        <div class="bodyRight">
            <div class="card">
                <div class="cardHead">
                    <h5>包裹重量占比</h5>
                </div>
                <div class="cardBody">
                    <app-diacrete-bar [multiple]="multiple"></app-diacrete-bar>
                </div>
            </div>
            <div class="card">
                <div class="cardHead">
                    <h5>订单组别分配</h5>
                </div>
                <div class="cardBody">
                    <app-poll [multiple]="multiple"></app-poll>
                </div>
            </div>
        </div>
    </div>
    <div id="foot">
        <div class="card">
            <div class="cardHead">
                <h5>订单下发生产量</h5>
            </div>
            <div class="cardBody">
                <app-bar-multi [multiple]="multiple"></app-bar-multi>
            </div>
        </div>
        <div class="card">
            <div class="cardHead">
                <h5>商家单量完成状态</h5>
            </div>
            <div class="cardBody">
                <app-finish-state [multiple]="multiple"></app-finish-state>
            </div>
        </div>
        <div class="card">
            <div class="cardHead">
                <h5>快递发运占比</h5>
            </div>
            <div class="cardBody">
                <app-carrier [multiple]="multiple"> </app-carrier>
            </div>
        </div>
    </div>
</div>



<!-- <div id="datanums" class="green">
    <h1 countUp [endVal]="pickANumber" [reanimateOnClick]="true">0</h1>
    <label>Change the end value:</label>
    <input type="text" [(ngModel)]="pickANumber" style="display:block">
</div> -->

<!-- http://10.10.32.7/doc/page/preview.asp -->