<div id="gruop" echarts [options]="option">
</div>
<div id='show'>
    <div class="card1">
        <ul>
            <li>
                <span>组别名称</span>
                <span>组别单量</span>
                <span>完成单量</span>
                <span>完成占比</span>
            </li>
            <li *ngFor="let li of ulArray" class="liBody">
                <span class="green">{{li.name}}</span>
                <span class="blue">{{li.total}}</span>
                <span class="yellow">{{li.finish}}</span>
                <span>{{((li.finish/li.total)*100).toFixed(0)}}%</span>
            </li>
        </ul>
    </div>
</div>