/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    background: #464399;
    font-size: 20px;
}
mat-card{
    background:#464298 !important;
    color: #aaa!important;
    line-height: 2vw;
    overflow: hidden;
    border:2px solid #514D97 !important;
}